<style>
    .avatar {
        height: 50px;
        width: 50px;
        background-color: #000;
        border-radius: 50%;
        display: inline-block;
    }
</style>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navbar-dark bg-dark border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="text-light" href="{% url 'blog:home' %}">NGU&KG</a></h5>
    {#    <nav class="my-2 my-md-0 mr-md-3">#}
    {#        <a class="p-2 text-light" href="#">Features</a>#}
    {#        <a class="p-2 text-light" href="#">Enterprise</a>#}
    {#        <a class="p-2 text-light" href="#">Support</a>#}
    {#    </nav>#}
    {% if request.user.is_authenticated %}
        <img class="avatar" src="{% for data in avatar %}
            {{ data.avatar.url }}
            {% endfor %}">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Dashboard</a>
                    <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit details</a>
                    <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                    <div class="dropdown-divider"></div>
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    {% else %}
        <nav>
            {#            <a class="p-2 text-dark" href="{% url 'accounts:register' %}">Register</a>#}
            <a class="p-2 text-light" href="{% url 'login' %}">Login</a>
        </nav>
    {% endif %}
</div>