{% extends 'blogapp/base.html' %}
{% load static %}
{% block title %}Blog Detail{% endblock %}

{% block content %}
    <style>
        @media screen and (min-width: 600px) {

            .children form {
                margin-left: -48px;
            }

            .children .children form {
                margin-left: -96px;
            }
        }
    </style>
    <h3 class="text-center my-5">Single blog</h3>
    <div class="container my-5">
        <div class="row justify-content-md-center">
            <div class="col-md-10" style="border: 1px solid cadetblue">

                <img class="card-img-top my-3" src="{{ post.image.url }}" alt="card img">
                <div><b>{{ post.title|capfirst }}</b></div>
                <div>{{ post.content|safe }}</div>
                <div class="float-right my-3">Published on: {{ post.publish|date }}</div>
                <br>
                <div class="col-md-12 my-5" style="border: 1px solid #0f1010">
                    {% with allcomments.count as total_comments %}
                        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
                    {% endwith %}

                    {% load mptt_tags %}
                    <div>
                        {% recursetree comments %}
                            <div id="{{ node.id }}" class="my-2 p-2">

                                <div class="d-flex justify-content-between">
                                    By {{ node.name }}
                                    <div>{{ node.date_commented|date }}</div>
                                </div>
                                <div>{{ node.content }}</div>
                                <div>{{ node.level }}</div>

                                {% if node.level < 3 %}

                                    <button class="btn btn-info my-2" onclick="myFunction({{ node.id }})">Reply</button>
                                    <hr>
                                {% endif %}
                            </div>
                            {% if not node.is_leaf_node %}
                                <div class="children pl-2 pl-md-5">
                                    {{ children }}
                                </div>
                            {% endif %}
                        {% endrecursetree %}
                    </div>
                    <hr>

                    <div class="py-4 d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            {% if comments.has_other_pages %}
                                <ul class="pagination">
                                    {% if comments.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ comments.previous_page_number }}">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                    {% endif %}
                                    {% for num in comments.paginator.page_range %}
                                        {% if comments.number == l %}
                                            <li class="page-item active"><span class="page-link">{{ num }} <span
                                                    class="sr-only">(current)</span></span>
                                            </li>
                                        {% else %}
                                            <li><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if comments.has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ comments.next_page_number }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </nav>
                    </div>
                    {% comment %}
                    {% for comment in comments %}
                        Comment: {{ forloop.counter }} by {{ comment.name }}
                        <span class="float-right my-2">On: {{ comment.date_commented }}</span>
                        {{ comment.content|linebreaks }}
                    {% empty %}
                        <p>No comments for this post!</p>
                    {% endfor %}
                    {% endcomment %}
                    <hr>
                    <h2 class="mt-5">Create a comment</h2>
                    <form method="POST" id="myForm">
                        {% csrf_token %}
                        {{ comment_form.as_p }}

                        <button class="btn btn-success float-right my-3">Submit comment</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
    <script>
        function formExit() {
            document.getElementById("newForm").remove();
        }

        function myFunction(id) {
            if (document.contains(document.getElementById("newForm"))) {
                document.getElementById("newForm").remove();
            }

            var d1 = document.getElementById(id);
            d1.insertAdjacentHTML('afterend',
                '<form id="newForm" class="form-insert py-2" method="post"> \
                          <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" \
                          class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
                          <label for="id_name">Name:</label> \
                          <input type="text" name="name" class="col-sm-12" maxlength="50" required="" id="id_name">\
                          <select name="parent" class="d-none" id="id_parentt"> \
                          <option value="' + id + '" selected="' + id + '"></option> \
                </select> \
                <label for="id_email">Email:</label> \
                <input type="text" name="email" class="col-sm-12" maxlength="254" required="" id="id_email"> \
                <label for="id_content">Content:</label> \
                <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                {% csrf_token %} \
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
              </form>');

            //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
        }

        $('#myForm').trigger("reset");
    </script>
{% endblock %}