{% extends 'blogapp/base.html' %}
{% load static %}
{% block title %}Blog Detail{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <h3 class="text-center">Single blog</h3>
                <div><b>{{ post.title|capfirst }}</b></div>
                <div>{{ post.content|safe }}</div>
                <div class="float-right">{{ post.publish|date }}</div>
                <br>
                <div class="col-md-12 mb-5">
                    {% with comments.count as total_comments %}
                        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
                    {% endwith %}
                    {% for comment in comments %}
                        Comment: {{ forloop.counter }} by {{ comment.name }}
                        <span class="float-right my-2">On: {{ comment.date_commented }}</span>
                        {{ comment.content|linebreaks }}
                    {% empty %}
                        <p>No comments for this post!</p>
                    {% endfor %}

                    <h2>Create a comment</h2>
                    <form method="POST" id="myForm">
                        {% csrf_token %}
                        {{ comment_form.as_p }}

                        <button class="btn btn-success float-right">Submit comment</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
{% endblock %}