{% extends 'blogapp/base.html' %}
{% load static %}
{% block title %}Add Post{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="form-group d-flex my-5 mx-3">Add Post . . . !</h1>
        <div class="form-group d-flex align-items-center mx-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success col-md-12 text-center submit-btn">
                    Submit
                </button>
            </form>
        </div>
    {% else %}
        <P>You are not allowed to create posts, please, login!</P>
    {% endif %}
{% endblock %}