{% extends 'blogapp/base.html' %}
{% load static %}
{% block title %}Category list{% endblock %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 pb-5">
                    <h1>List of {{ categorylist.category }} posts</h1>
                </div>
                {% if categorylist.posts %}
                    {% for post in categorylist.posts %}
                        <div class="col-md-4">
                            <a href="{% url 'blog:single_post' post.pk %}" class="text-dark">
                                <div class="card mb-4 box-shadow card-info">
                                    <img class="card-img-top" src="{{ post.image.url }}"
                                         style="width: 348px; height: 250px"
                                         alt="card img">
                                    <div class="card-body">
                                        <h2 style="font-size: 18px; font-weight: bold;">
                                            {{ post.title|truncatechars:10|capfirst }}
                                        </h2>
                                        <p class="card-text">{{ post.excerpt|truncatechars:10 }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">{{ post.publish|date }}</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <h4>No data to show!</h4>
                {% endif %}

            </div>
        </div>
    </div>
    {% include 'partials/footer.html' %}
{% endblock %}